<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <ul class="list-group mb-4">
        <li class="list-group-item active">Category</li>
        <li class="list-group-item"><a href="{{ c }}">Category List</a></li>
        <li class="list-group-item">Category Create</li>
    </ul>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <ul class="list-group mb-4">
        <li class="list-group-item active">Model</li>
        <li class="list-group-item">Model List</li>
        <li class="list-group-item">Model Create</li>
    </ul>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <ul class="list-group mb-4">
        <li class="list-group-item active">Model</li>
        <li class="list-group-item">Model List</li>
        <li class="list-group-item">Model Create</li>
    </ul>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <ul class="list-group mb-4">
        <li class="list-group-item active">Model</li>
        <li class="list-group-item">Model List</li>
        <li class="list-group-item">Model Create</li>
    </ul>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <ul class="list-group mb-4">
        <li class="list-group-item active">Model</li>
        <li class="list-group-item">Model List</li>
        <li class="list-group-item">Model Create</li>
    </ul>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <ul class="list-group mb-4">
        <li class="list-group-item active">Model</li>
        <li class="list-group-item">Model List</li>
        <li class="list-group-item">Model Create</li>
    </ul>
</div>
