{% extends 'blog/base.html' %}
{% block blog_title %}{{ object.name }}{% endblock %}


{% block blog_content %}
    <div class="container-fluid w-90">
        <div class="my-jumbotron mt-2">
            <h1>{{ object.name }}</h1>
            <hr class="my-3">
            <p>{{ object.description }}</p>
            <a class="btn btn-primary" href="{{ object.get_list_url }}">{{ object.get_view_str }} {{ object.get_model_strs }}</a>
            <a class="btn btn-success" href="{{ object.get_update_url }}">{{ object.get_update_str }} {{ object.get_object_name }}</a>
            <a class="btn btn-danger" href="{{ object.get_delete_url }}">{{ object.get_delete_str }} {{ object.get_object_name }}</a>
        </div>
    </div>
{% endblock %}
