{% extends 'blog/base.html' %}
{% block blog_title %}Manage Blog{% endblock %}


{% block blog_content %}
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb rounded">
            <li class="breadcrumb-item">Dashboard</li>
        </ol>
        <div class="row">
            {% for model in models %}
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="list-group mb-4">
                        <div class="list-group-item active">{{ model.get_model_str }}</div>
                        <a class="list-group-item" href="{{ model.get_list_url }}"> {{ model.get_model_str }} List</a>
                        <a class="list-group-item" href="{{ model.get_create_url }}">{{ model.get_model_str }} Create</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

